@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font: "Roboto Flex";
  --title-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgba(255, 255, 255, 0.8);
}
.bg-texture {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  object-fit: cover;
  z-index: -1;
}

.glowline {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
.button-gradient {
  background: linear-gradient(
    95deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.availability-status {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fff 0%,
    #98f351 53.13%,
    #1f4401 100%
  );

  border-radius: 50%;

  filter: drop-shadow(0px 0px 4px #98f351);
}
